#sudo nano /etc/udev/rules.d/70-android-vendor-linux.rules


# ============================================================
# Android vendor kernel -> Ubuntu Desktop
# Standard Linux desktop permissions/groups
# ============================================================


# ------------------------------------------------------------
# DRM / GPU
# ------------------------------------------------------------

SUBSYSTEM=="drm", KERNEL=="card[0-9]*", GROUP="video", MODE="0660"
SUBSYSTEM=="drm", KERNEL=="renderD[0-9]*", GROUP="render", MODE="0660"

# Qualcomm KGSL
KERNEL=="kgsl-3d0", GROUP="render", MODE="0660"


# ------------------------------------------------------------
# V4L2 / Camera / Media
# ------------------------------------------------------------

SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", GROUP="video", MODE="0660"
SUBSYSTEM=="video4linux", KERNEL=="v4l-subdev[0-9]*", GROUP="video", MODE="0660"

SUBSYSTEM=="media", KERNEL=="media[0-9]*", GROUP="video", MODE="0660"


# ------------------------------------------------------------
# Input
# ------------------------------------------------------------

SUBSYSTEM=="input", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# GPIO
# ------------------------------------------------------------

SUBSYSTEM=="gpio", KERNEL=="gpiochip[0-9]*", GROUP="gpio", MODE="0660"


# ------------------------------------------------------------
# I2C
# ------------------------------------------------------------

KERNEL=="i2c-[0-9]*", GROUP="i2c", MODE="0660"


# ------------------------------------------------------------
# SPI
# ------------------------------------------------------------

KERNEL=="spidev[0-9]*", GROUP="spi", MODE="0660"


# ------------------------------------------------------------
# Audio
# ------------------------------------------------------------

SUBSYSTEM=="sound", GROUP="audio", MODE="0660"

KERNEL=="msm_*", GROUP="audio", MODE="0660"


# ------------------------------------------------------------
# Serial / Qualcomm HS UART
# ------------------------------------------------------------

KERNEL=="ttyHS[0-9]*", GROUP="dialout", MODE="0660"
SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]*", GROUP="dialout", MODE="0660"
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", GROUP="dialout", MODE="0660"


# ------------------------------------------------------------
# USB
# ------------------------------------------------------------

SUBSYSTEM=="usb", GROUP="plugdev", MODE="0660"

KERNEL=="usb_accessory", GROUP="plugdev", MODE="0660"

KERNEL=="usb-ffs/*", GROUP="plugdev", MODE="0660"


# ------------------------------------------------------------
# HID
# ------------------------------------------------------------

KERNEL=="uhid", GROUP="uhid", MODE="0660"
KERNEL=="uinput", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# RF / Bluetooth
# ------------------------------------------------------------

KERNEL=="rfkill", GROUP="netdev", MODE="0660"

KERNEL=="btpower", GROUP="netdev", MODE="0660"


# ------------------------------------------------------------
# Wi-Fi / WLAN
# ------------------------------------------------------------

KERNEL=="wlan", GROUP="netdev", MODE="0660"


# ------------------------------------------------------------
# Network / modem control
# ------------------------------------------------------------

KERNEL=="ppp", GROUP="dialout", MODE="0660"

KERNEL=="rmnet_ctrl", GROUP="netdev", MODE="0660"
KERNEL=="wwan_ioctl", GROUP="netdev", MODE="0660"


# ------------------------------------------------------------
# RTC
# ------------------------------------------------------------

KERNEL=="rtc[0-9]*", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# RNG
# ------------------------------------------------------------

KERNEL=="hw_random", GROUP="root", MODE="0444"
KERNEL=="msm-rng", GROUP="root", MODE="0444"


# ------------------------------------------------------------
# IIO
# ------------------------------------------------------------

SUBSYSTEM=="iio", KERNEL=="iio:device[0-9]*", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# UIO
# ------------------------------------------------------------

KERNEL=="uio[0-9]*", GROUP="video", MODE="0660"


# ------------------------------------------------------------
# Framebuffer
# ------------------------------------------------------------

KERNEL=="fb[0-9]*", GROUP="video", MODE="0660"


# ------------------------------------------------------------
# NFC
# ------------------------------------------------------------

KERNEL=="st21nfc", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# Touch
# ------------------------------------------------------------

KERNEL=="xiaomi-touch", GROUP="input", MODE="0660"

KERNEL=="focaltech_fp", GROUP="input", MODE="0660"
KERNEL=="goodix_fp", GROUP="input", MODE="0660"
KERNEL=="fpsdev[0-9]*", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# Qualcomm IPC / modem / DSP
# Desktop applications should NOT get unrestricted access.
# Keep vendor functionality available to root by default.
# ------------------------------------------------------------

KERNEL=="adsprpc-smd", GROUP="root", MODE="0640"
KERNEL=="adsprpc-smd-secure", GROUP="root", MODE="0600"

KERNEL=="apr_apps2", GROUP="root", MODE="0600"

KERNEL=="at_mdm[0-9]*", GROUP="dialout", MODE="0660"
KERNEL=="at_usb[0-9]*", GROUP="dialout", MODE="0660"

KERNEL=="smd[0-9]*", GROUP="root", MODE="0660"
KERNEL=="smdcntl[0-9]*", GROUP="root", MODE="0640"


# ------------------------------------------------------------
# Qualcomm IPA
# ------------------------------------------------------------

KERNEL=="ipa", GROUP="netdev", MODE="0660"
KERNEL=="ipa_adpl", GROUP="netdev", MODE="0660"
KERNEL=="ipa_odl_ctl", GROUP="netdev", MODE="0660"
KERNEL=="ipaIpv6CTTable", GROUP="netdev", MODE="0660"
KERNEL=="ipaNatTable", GROUP="netdev", MODE="0660"
KERNEL=="ipa_tethering_bridge", GROUP="netdev", MODE="0660"


# ------------------------------------------------------------
# Qualcomm crypto / security
# ------------------------------------------------------------

KERNEL=="qce", GROUP="root", MODE="0660"
KERNEL=="qseecom", GROUP="root", MODE="0660"
KERNEL=="smcinvoke", GROUP="root", MODE="0660"


# ------------------------------------------------------------
# Qualcomm sensors / misc
# ------------------------------------------------------------

KERNEL=="qg", GROUP="root", MODE="0660"
KERNEL=="qg_battery", GROUP="root", MODE="0660"

KERNEL=="msm_sps", GROUP="root", MODE="0660"
KERNEL=="dcc_sram", GROUP="root", MODE="0600"


# ------------------------------------------------------------
# Memory / DMA
# ------------------------------------------------------------

KERNEL=="ashmem", GROUP="root", MODE="0660"
KERNEL=="ashmem*", GROUP="root", MODE="0660"

KERNEL=="ion", GROUP="root", MODE="0660"

KERNEL=="dma_heap/*", GROUP="video", MODE="0660"


# ------------------------------------------------------------
# FUSE
# ------------------------------------------------------------

KERNEL=="fuse", GROUP="root", MODE="0660"


# ------------------------------------------------------------
# TUN
# ------------------------------------------------------------

KERNEL=="tun", GROUP="netdev", MODE="0660"


# ------------------------------------------------------------
# Qualcomm ramdump / subsystem nodes
# ------------------------------------------------------------

KERNEL=="ramdump_*", GROUP="root", MODE="0640"
KERNEL=="subsys_*", GROUP="root", MODE="0640"


# ------------------------------------------------------------
# MTP
# ------------------------------------------------------------

KERNEL=="mtp_usb", GROUP="plugdev", MODE="0660"


# ------------------------------------------------------------
# Diagnostic
# ------------------------------------------------------------

KERNEL=="diag", GROUP="root", MODE="0660"


# ------------------------------------------------------------
# Misc Qualcomm / vendor nodes
# ------------------------------------------------------------

KERNEL=="usf[0-9]*", GROUP="root", MODE="0660"

KERNEL=="lirc[0-9]*", GROUP="input", MODE="0660"


# ------------------------------------------------------------
# Block devices
# ------------------------------------------------------------

SUBSYSTEM=="block", GROUP="disk", MODE="0660"


# ------------------------------------------------------------
# SG devices
# ------------------------------------------------------------

KERNEL=="sg[0-9]*", GROUP="disk", MODE="0660"


# ------------------------------------------------------------
# Loop devices
# ------------------------------------------------------------

KERNEL=="loop[0-9]*", GROUP="disk", MODE="0660"
KERNEL=="loop-control", GROUP="disk", MODE="0660"


# ------------------------------------------------------------
# DM devices
# ------------------------------------------------------------

KERNEL=="device-mapper", GROUP="disk", MODE="0660"
KERNEL=="dm-*", GROUP="disk", MODE="0660"


# ------------------------------------------------------------
# PTY
# ------------------------------------------------------------

KERNEL=="ptmx", GROUP="tty", MODE="0666"


# ------------------------------------------------------------
# Console / virtual terminals
# ------------------------------------------------------------

KERNEL=="tty[0-9]*", GROUP="tty", MODE="0620"
KERNEL=="console", GROUP="tty", MODE="0620"


# ------------------------------------------------------------
# Random
# ------------------------------------------------------------

KERNEL=="random", GROUP="root", MODE="0666"
KERNEL=="urandom", GROUP="root", MODE="0666"


# ------------------------------------------------------------
# Null / zero / full
# ------------------------------------------------------------

KERNEL=="null", GROUP="root", MODE="0666"
KERNEL=="zero", GROUP="root", MODE="0666"
KERNEL=="full", GROUP="root", MODE="0666"


# ------------------------------------------------------------
# Kernel log
# ------------------------------------------------------------

KERNEL=="kmsg", GROUP="adm", MODE="0620"
KERNEL=="kmsg_debug", GROUP="root", MODE="0600"


# ------------------------------------------------------------
# Memory
# ------------------------------------------------------------

KERNEL=="mem", GROUP="kmem", MODE="0640"


# ------------------------------------------------------------
# VCS
# ------------------------------------------------------------

KERNEL=="vcs*", GROUP="tty", MODE="0620"
KERNEL=="vcsa*", GROUP="tty", MODE="0620"
KERNEL=="vcsu*", GROUP="tty", MODE="0620"
